
<h2 class="text-center p-4">Arrays</h2>

<div class="border p-3 bg-light m-2">

   <pre style="white-space:pre-wrap">

 string[] names = new string[5]; 
 int[] numbers = new int[10];

 names[3] = "James";
 Console.WriteLine(names[3]);

    <a class="text-success">Output: James</a>
    </pre>
</div>

<div class="border p-3 bg-light m-2">
<pre style="white-space:pre-wrap">
 numbers[0] = 7;
 Console.WriteLine(numbers[0]);

    <a class="text-success">Output: 7</a>
</pre>
</div>
