
<h2 class="text-center p-4">Loop a String</h2>

<div class="border p-3 bg-light m-2">
    string myAnswer = "Hello"<br />

    <br />for(int i = 0; i < myAnswer.Length; i++)<br />
    {<br />
    &nbsp;&nbsp;&nbsp;&nbsp; Console.WriteLine(myAnswer[i]);<br />
    }
</div>

<div class="border p-3 bg-light m-2">
    <a class="text-success">
        Output:<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; H<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; e<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; l<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; l<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o<br />
    </a>
    <br />Note: Console.WriteLine(myAnswer[0]) outputs: H &nbsp;&nbsp; <a class="text-success">// index starts at 0</a><br />
    <br />Note: the Length of "Hello" is 5 (1, 2, 3, 4, 5 )&nbsp;&nbsp; <a class="text-success">// .Length starts at 1</a>
</div>

