
<h2 class="text-center p-4">Looping Rules +=</h2>

<div class="border p-3 bg-light m-2">
    public static string  DecryptString(string strToDecrypt)<br />
    &nbsp;&nbsp;{<br />
    &nbsp;&nbsp;&nbsp;&nbsp;string <a class="text-primary">convertedText = "";</a><br />

   <br /> &nbsp;&nbsp;&nbsp;&nbsp; foreach (var letter in strToDecrypt)<br />
    &nbsp;&nbsp;&nbsp;&nbsp; {<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="text-primary">convertedText</a> += EncriptStuff.ToDecrypt.ContainsKey....<br />
    &nbsp;&nbsp;&nbsp;&nbsp; }<br />
    return <a class="text-primary">convertedText;</a><br />
    &nbsp;&nbsp;}
</div>

<div class="border p-3 bg-light m-2">
    Note: You have to declare a string first when you are using "+=" in a loop.<br />
     You can't keep reassigning "convertedText" a new value in the Foreach Loop<br />
    so it's best to create your string at the top and let the string add on.<br /> 
    <a class="text-primary">string convertedText  = "Text keeps adding up";</a>
</div>
