
<h2 class="text-center p-4">Loops</h2>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">While Loop</h5>

<pre style="white-space:pre-wrap">
int b = 1;

while (b <= 10)
{
 Console.WriteLine(b);
    b++;
}
</pre>
</div>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">For Loop</h5>

<pre style="white-space:pre-wrap">
for (int i = 1; i <= 10; i++)
{
 Console.WriteLine(i);
}
</pre>

</div>
