
<h2 class="text-center p-4">Method</h2>

<div class="border p-3 bg-light m-2">
    
    static void SayHi(string name, int age)<br />
    {<br />
    &nbsp;&nbsp; Console.WriteLine($"Hello {name} you are {age}")<br />
    }<br />


    <br />static void Main(string[] args)<br />
    {<br />
    &nbsp;&nbsp; SayHi("James", 33);<br />
    &nbsp;&nbsp; SayHi("John", 20);<br />
    &nbsp;&nbsp; SayHi("Tom", 43);<br />

    <br />&nbsp;&nbsp; Console.ReadLine();<br />
    }<br />
   
</div>

<div class="border p-3 bg-light m-2">
    <a class="text-success">Output: <br />
    Hello James you are 33<br />
    Hello John you are 20<br />
    Hello Tom you are 43</a><br />
</div>
