
<h2 class="text-center p-4">Return a Bool</h2>

<div class="border p-3 bg-light m-2">
    public static bool MyNumbers(int num1)<br />
    {<br />
    &nbsp;&nbsp;bool IsTrue = false;<br />

    <br /><br />if(num1 > 1 && num 1 < 10)<br />
    {<br />
    &nbsp;&nbsp; IsTrue = true;<br />
    }<br />

    <br />&nbsp;&nbsp; return IsTrue;<br />
    }
</div>

<div class="border p-3 bg-light m-2">
    static void Main(string[] args)<br />
    <br />bool verify = MyNumbers(4);<br />

    &nbsp;&nbsp; Console.WriteLine( verify );<br />
</div>
