
<h2 class="text-center p-4">Return</h2>

<div class="border p-3 bg-light m-2">
    public static int MyMethod(int num1, int num2)<br />
    {<br />
    int answer = num1 * num2;<br />
    return answer;<br />
    }<br />

    <br /><br />static void Main(string[] args)<br />
    {<br />
    Console.WriteLine(MyMethod(5, 6));<br />
    }<br />

    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -OR-<br />
    <br />int sum = MyMethod(5, 6);<br />
    Console.ReadLine(sum)


</div>
