
<h2 class="text-center p-4">Return a String</h2>

<div class="border p-3 bg-light m-2">
    public static string InputMethod()<br />
    {<br />
    &nbsp;&nbsp; string <a class="text-primary">EnteredValue = "";</a> <br />

    <br />&nbsp;&nbsp; EnteredValue = Console.ReadLine().ToLower();<br />
    &nbsp;&nbsp; return <a class="text-primary">EnteredValue</a>;<br />
    }<br />


    <br /><br />static void Main(string[] args)<br />
    {<br />
    &nbsp;&nbsp; string <a class="text-primary">EnteredValue = "";</a><br />

    <br />&nbsp;&nbsp; Console.WriteLine("Please choose rock, paper or scissors");<br />

    &nbsp;&nbsp; <a class="text-primary">EnteredValue</a> = InputMethod();<br />

    }
</div>

