
<h2 class="text-center p-4">Static / Void</h2>
<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Static</h5>
    Can't be instantiated (make instance of)<br />
    <br />Ex: Static int cube()<br />
    {}
</div>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Void</h5>
    A method can return a value type (int, string, Bool, etc.) or return <a class="text-primary">void</a> if the method does not return anything when called<br />
    <br />Ex: static void Cube()<br />
    {}

</div>

