
<h2 class="text-center p-4">String Methods</h2>
<div class="border p-3 bg-light m-2">
    Console.WriteLine("Learn<a class="text-primary">\n</a>Anything");<br />
    <br />Output: <a class="text-success"><br />Learn<br />Anything</a>
</div>

<div class="border p-3 bg-light m-2">
    Console.WriteLine("Learn <a class="text-primary">\"</a> Anything");<br />
    <br />Output: <a class="text-success">Learn " Anything</a> 
</div>



<div class="border p-3 bg-light m-2">

    <div class="border p-3 m-2" style="background-color: deepskyblue">
        String <a class="text-danger">phrase</a> = Learn Anything;<br />
    </div>

    <br />Console.WriteLine(<a class="text-danger">phrase.</a><a class="text-primary">Length</a>);<br />
    <br />Output: <a class="text-success">14</a><br />
    Note: Counts the space too
</div>

<div class="border p-3 bg-light m-2">
    Console.WriteLine(<a class="text-danger">phrase.</a><a class="text-primary">ToUpper()</a>);<br />
    <br />Output: <a class="text-success">LEARN ANYTHING</a>
</div>

<div class="border p-3 bg-light m-2">
    Console.WriteLine(<a class="text-danger">phrase.</a><a class="text-primary">ToLower()</a>);<br />
    <br />Output: <a class="text-success">learn anything</a>
</div>

<div class="border p-3 bg-light m-2">
    Console.WriteLine(<a class="text-danger">phrase.</a><a class="text-primary">Contains("Learn")</a>);<br />
    <br />Output: <a class="text-success">True</a>
</div>

<div class="border p-3 bg-light m-2">
    Console.WriteLine(<a class="text-danger">phrase</a><a class="text-primary">[0]</a>);<br />
    <br />Output: <a class="text-success">L</a>
</div>

<div class="border p-3 bg-light m-2">
    Console.WriteLine(<a class="text-danger">phrase.</a><a class="text-primary">IndexOf("Anything")</a>);<br />
    <br />Output: <a class="text-success">6</a><br />
    The first "A" charicter starts at index position 6
</div>

<div class="border p-3 bg-light m-2">
    Console.WriteLine(<a class="text-danger">phrase.</a><a class="text-primary">IndexOf("a")</a>);<br />
    <br />Output: <a class="text-success">2</a><br />
    The first "a" charicter of "Learn Anything" starts at index position 2
</div>

<div class="border p-3 bg-light m-2">
    Console.WriteLine(<a class="text-danger">phrase.</a><a class="text-primary">IndexOf("z")</a>);<br />
    <br />Output: <a class="text-success">-1</a><br />
    Index not found
</div>

<div class="border p-3 bg-light m-2">
    Console.WriteLine(<a class="text-danger">phrase.</a><a class="text-primary">Substring(6)</a>);<br />
    <br />Output: <a class="text-success">Anything</a><br />
    Starts at index position 6
</div>

<div class="border p-3 bg-light m-2">
    Console.WriteLine(<a class="text-danger">phrase.</a><a class="text-primary">Substring(6, 3)</a>);<br />
    <br />Output: <a class="text-success">Any</a><br />
    Starts at index position 6 and grabs three charicters
</div>



