
<h2 class="text-center p-4">Basic Terminology</h2>

<div class="border p-3 bg-light m-2">
    Add(int x, int y);<br />

     <br />x and y are <a class="text-primary">parameters</a> it receives the values when the Add function is called<br />
    <br />Add(5, 8);<br />
    <br />5,8 is an <a class="text-primary">argument</a>
</div>
