
<h2 class="text-center p-4">Ternary Operator</h2>

<div class="border p-3 bg-light m-2">

    int myAge = 23;<br />

    <br />string response = (myAge < 21)? "Under 21 years old" : "Over 21";<br />

    <br />Console.WriteLine(response);<br />

</div>

<div class="border p-3 bg-light m-2">
    <br /><a class="text-success">Output: over 21</a>
    <br />Note: This is a short version of the "if" statement
</div>

