
<h2 class="text-center p-4">Tag Helper</h2>

<div class="border p-3 bg-light m-2">
    <h5 class="p-2 text-success">Makes it easy to send value to controller</h5>
    <pre>
    <code>
&lt;a asp-controller="<a class="text-primary">Home</a>" class="btn btn-warning" asp-action="<a class="text-primary">MenuCategoryEntry</a>" asp-route-id="<img src="~/Images/MVC/AtYellowIcon.svg" style="max-width: 15px">ViewData["TableNum"]"&gt; Edit Menu&lt;/a&gt;
    </code>

Note: "asp-controller" is specifying the HomeController and "asp-action" is the method name within the controller.
Note: "asp-route-id" holds the value which will be sent to the specific controller method.
</pre>
</div>
