
<h2 class="text-center p-4">Arrays</h2>

<div class="border p-3 bg-light m-2">
   
    var fruits = new Array("apples", "Oranges", "Peaches");<br />
    document.write(fruits);<br />
    <a class="text-success">Output: apples, Oranges, Peaches</a>
</div>

<div class="border p-3 bg-light m-2">

    <h5 class="p-4">Short Array Example</h5>

    var fruits = ["apples", "Oranges", "Peaches"];  
</div>

<div class="border p-3 bg-light m-2">

    <h5 class="p-4">Store string, int and bool</h5>

    var fruits = ["apples", 33, true];
</div>

<div class="border p-3 bg-light m-2">

    var fruits = ["apples", "Oranges", "Peaches"];<br />
    document.write(fruits[1]);<br />
     <br /><a class="text-success">Output: Oranges</a>

</div>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Creating an array out of strings</h5>

    var fruits = "apples", "Oranges", "Peaches"; <br />
    fruits = fruits.split(","); <br />
    document.write(fruits[0]); <br />
    <a class="text-success">Output: Oranges</a> <br />
    <br />Note: the "split" method will break up the text into an array based on a certain tracking point in this case it's a comma.

</div>

