
<h2 class="text-center p-4">Javascript Basics</h2>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Simple Text inside html document</h5>

    <code>&lt;script&gt;</code><br />
    document.write("Hello World");<br />
    document.write("This is a tutorial");<br />
    <code>&lt;/script&gt;</code>
</div>
<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Linking javascript file to html page</h5>
    <code>&lt;script src="script.js"&gt;</code><code>&lt;/script&gt;</code>
</div>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Write html inside of javascript file</h5>
        document.write("<code>&lt;h2&gt;</code>Javascript Rules!<code>&lt;/h2&gt;</code>");<br />
        document.write("<code>&lt;h2 style='color:blue;'&gt;</code>Javascript Rules!<code>&lt;/h2&gt;</code>");
    <p class="text-info">Output: blue text</p>
</div>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Simple Text to a value</h5>
        var phrase="To be or not to be";<br />
        document.write(phrase);
    <p class="text-info">Note: var can be anything: string, int, or bool</p>
</div>


