
<h2 class="text-center p-4">Calculator</h2>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Convert Text to Int</h5>

    var num1 = window.prompt("Enter a number");<br />
    var num2 = window.prompt("Enter second number");<br />

    <br />num1 = parseInt(num1);<br />
    num2 = parseInt(num2);<br />

    <br />document.write(num1 + num2);<br />
    <br /><a class="text-success">Note: "parseInt" will convert the string to an int</a>
</div>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Convert Text to Decimal</h5>

    var num1 = window.prompt("Enter a number");<br />
    var num2 = window.prompt("Enter second number");<br />

    <br />num1 = parseFloat(num1);<br />
    num2 = parseFloat(num2);<br />

    <br />document.write(num1 + num2);<br />
   <br /> <a class="text-success">Note: "parseFloat" will convert the string to a decimal</a>
</div>

