
<h2 class="text-center p-4">Function / method</h2>

<div class="border p-3 bg-light m-2">
    function sayHi(){<br />
    &nbsp;&nbsp;  document.write("<code>&lt;h1&gt;</code>Hello Josh<code>&lt;/h1&gt;</code>");<br />
    }<br />
    <br />sayHi();<br />
    <a class="text-success">Output: Hello Josh</a>
</div>

<div class="border p-3 bg-light m-2">
    function sayHi(name){<br />
    &nbsp;&nbsp; document.write("<code>&lt;h1&gt;</code>Hello "+ name +" <code>&lt;/h1&gt;</code>");<br />
    }<br />
    <br />sayHi("Josh");<br />
   <a class="text-success">Output: Hello Josh</a>
</div>

<div class="border p-3 bg-light m-2">
    function sayHi(name, age){<br />
    &nbsp;&nbsp; document.write("<code>&lt;h1&gt;</code>Hello "+ name +" <code>&lt;/h1&gt;</code>");<br />
    &nbsp;&nbsp; document.write("<code>&lt;p&gt;</code>You are "+ age +" <code>&lt;/p&gt;</code>");<br />
    }<br />
    <br />sayHi("Josh", 44);<br />
                            <a class="text-success">Output:  Hello Josh<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; you are 44</a>
    
</div>

<div class="border p-3 bg-light m-2">
    function addition(num1, num2){<br />
    &nbsp;&nbsp;  return &nbsp;&nbsp;num1 + num2;<br />
    }<br />
    document.write(addition(7, 23));<br />

    <a class="text-success">Output: 30</a>
</div>

<div class="border p-3 bg-light m-2">
    function addition(num1, num2){<br />
    &nbsp;&nbsp;  return&nbsp;&nbsp; num1 + num2;<br />
    }<br />
    var sum = addition(7, 23);<br />
    document.write(sum);<br />

    <a class="text-success">Output: 30</a>
</div>
