
<h2 class="text-center p-4">If Statements</h2>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Basics</h5>

    var isMale = false;<br />
    var isTall = True;<br />

    <br />if(isMale && isTall){<br />
    &nbsp;&nbsp;  document.write("You are a tall male");<br />
    &nbsp;&nbsp;}<br />
    else{<br />
    &nbsp;&nbsp;document.write("You are not male or not tall");<br />
    &nbsp;&nbsp; }<br />
</div>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Finds the highest number</h5>

    function <a class="text-danger">max</a>(num1, num2, num3){<br />
    &nbsp; if(num1 >= num2 && num1 >= num3){<br />
    &nbsp;&nbsp;&nbsp; return num1;<br />
    &nbsp; }<br />
    &nbsp; else if(num2 >= num1 && num2 >= num3){<br />
    &nbsp;&nbsp;&nbsp; return num2;<br />
    &nbsp; }<br />
    &nbsp; else{<br />
    &nbsp;&nbsp;&nbsp; return num3;<br />
    &nbsp; }<br />
    };<br />
    document.write(<a class="text-danger">max</a>(5, 10, 15));
</div>

