
<h2 class="text-center p-4">Math</h2>

<div class="border p-3 bg-light m-2">
    document.write(2 + 2); &nbsp;&nbsp; <a class="text-success">Output: 4</a><br />
    document.write(5 * 5); &nbsp;&nbsp; <a class="text-success">Output: 25</a><br />
    document.write(5 * 5 + 5); &nbsp;&nbsp; <a class="text-success">Output: 30</a><br />
</div>

<div class="border p-3 bg-light m-2">
    var number = 5;<br />
    document.write(number * 5); &nbsp;&nbsp; <a class="text-success">Output: 25</a><br />
    document.write(Math.max(number, 7)); &nbsp;&nbsp; <a class="text-success">Output: 7</a><br />
    document.write(Math.min(number, 7)); &nbsp;&nbsp; <a class="text-success">Output: 5</a><br />
</div>
