
<h2 class="text-center p-4">Password Entry</h2>

<div class="border p-3 bg-light m-2">
    var <a class="text-primary">password</a> = "mypass";<br />
    var <a class="text-primary">response</a>;<br />
    var <a class="text-danger">enterCount</a> = 0;<br />
    var <a class="text-info">entryLimit</a> = 3;<br />
    var error = false;<br />
</div>

<div class="border p-3 bg-light m-2">
    while(<a class="text-primary">response</a> != <a class="text-primary">password</a> && !error){<br />
    &nbsp;&nbsp; if(<a class="text-danger">enterCount</a> < <a class="text-info">entryLimit</a>)<br />
    &nbsp;&nbsp; {<br />
    &nbsp;&nbsp;<a class="text-primary">response</a> = window.prompt("Enter Password")<br />
    &nbsp;&nbsp; <a class="text-danger">enterCount</a>++;<br />
    &nbsp;&nbsp; }<br />
    &nbsp;&nbsp; else{<br />
    &nbsp;&nbsp; error = true;<br />
    &nbsp;&nbsp;  }<br />
      }<br />
     <br />if(error){<br />
    &nbsp;&nbsp; alert("Too many entries");<br />
    }<br />
     else{<br />
    &nbsp;&nbsp; alert("You got it!")<br />
    }<br />
</div>

<div class="border p-3 bg-light m-2">
    Note: The user has three chances to get the correct password else an error message will pop up <br />
    Note: "alert" is a pop up
</div>
