
<h2 class="text-center p-4">Real World Object</h2>

<div class="border p-3 bg-light m-2">
    Note: The actors array has basic actor information which is called at the bottom<br />
    <br />var <a class="text-primary">myMovie</a> = {<br />
    title: "Zombieland",<br />
    releaseYear: "2009",<br />
    duration: 2.0,<br />

    <br /><a class="text-danger">actors:</a> [<br />

    {<br />
    name:"Jessie Eisenberg",<br />
    birthday: new Date("October 5, 1987"),<br />
    hometown: "New York, NewYork"<br />
    },<br />

    {<br />
    name: "Emma Stone",<br />
    birthday: new Date("November 6, 1988"),<br />
    hometown: "Scottsdale, Arizona"<br />
    },<br />
    ]<br />
    }<br />
</div>

<div class="border p-3 bg-light m-2">
    document.write(<a class="text-primary">myMovie</a>.<a class="text-danger">actors:</a>[0].name)<br />
    <br />Output: <a class="text-success">Jessie Eisenberg</a> 
</div>


