
<h2 class="text-center p-4">Switch Statements</h2>

<div class="border p-3 bg-light m-2">
    <p>
        function getDayName(dayNum){<br />
        var day;<br />
        <br /><a class="text-primary">switch(dayNum)</a><br />
        {<br />
         <a class=" text-danger">
             case 0: day="Monday";<br />
             break;<br />
             <br />case 1: day="Tuesday";<br />
             break;<br />
             <br />default:<br />
             day="wrong entry";<br />
         </a>
             }<br />
             return day;<br />
        
      
        }<br />
    </p>
</div>

<div class="border p-3 bg-light m-2">
    document.write(getDayName(1));<br />  
    <a class="text-success">Output: Tuesday</a>
</div>
