
<h2 class="text-center p-4">Timing</h2>
<div class="border p-3 bg-light m-2">
    <code>&lt;body&gt;</code><br />

    <code>&lt;button <a class="text-primary">onClick="setTimeout(sayHi, 2000)"</a>&gt;</code>Click Me<code>&lt;/button&gt;</code><br />
    <a class="text-dark"><code>&lt;script scr="script.js"&gt;</code><code>&lt;/script&gt;</code></a><br />

    <code>&lt;/body&gt;</code><br />

    <br />Note: By using the "setTimeout", when the button is clicked the hi alert will pop up one time after 2 seconds
</div>

<div class="border p-3 bg-light m-2">
    <code>&lt;body&gt;</code><br />

    <code>&lt;button <a class="text-primary">onClick="setInterval(sayHi, 2000)"</a>&gt;</code>Click Me<code>&lt;/button&gt;</code><br />
    <a class="text-dark"><code>&lt;script scr="script.js"&gt;</code><code>&lt;/script&gt;</code></a><br />

    <code>&lt;/body&gt;</code><br />

    <br />Note: By using the "setInterval", when the button is clicked the hi alert will keep poping up every 2 seconds
</div>

<div class="border p-3 bg-light m-2">
    <p>
        function sayHi(){<br />
        alert("hi");<br />
        }
    </p>
</div>
