
<h2 class="text-center p-4">User Input</h2>


<div class="border p-3 bg-light m-2">
    <p>var name = window.prompt("What is your name?");</p><br />
    <p>document.write("Hey" + name +",how are you today?");</p><br />
    <p class="text-info">Note: "window.prompt" creates a popup box</p>
    <img src="~/Images/Javascript/j1.jpg" class="col-sm-12" style="max-width: 500px;" alt="Responsive image">
    <p class="text-info">Note: When you press "OK" the second code will displaythe message on the browser; "Hey Ahmo how are you today"</p>
</div>



<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Example #2</h5>
    <p>var age = window.prompt("How old are you?");</p>
    <img src="~/Images/Javascript/j2.jpg" class="w-50" style="max-width: 500px;" alt="Responsive image">
    <p>document.write("Hey" + name + ",today you are" + age + "years old");</p>
</div>


