
<h2 class="text-center p-4">While Loop</h2>

<div class="border p-3 bg-light m-2">
   <p>var i = 1;</p>
    while(i <code>&lt;</code>=10){<br />
    document.write(i);<br />
    i++;<br />
    }
</div>

<div class="border p-3 bg-light m-2">
    <h5 class="p-4">Example of Password Entry</h5>

   <p>var password="mypass";<br />
    var response;</p>

    while(response != password){<br />
    response = window.prompt("Enter Password")<br />
    }<br />
    alert("You got it!")  
</div>

<div class="border p-3 bg-light m-2 text-info">
    Note: A "window.prompt" is a pop up which askes you to enter a password, you unlimited tries until you get it correct.
</div>