

<div class="dropdown d-block d-sm-none d-none d-sm-block d-md-none" style="margin-top: -10px">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Page
    </a>
    <div class="dropdown-menu scrolltab-dropdown" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/Home/CSharp/Terminology">Terminology</a>
        <a class="dropdown-item" href="/Home/CSharp/Static-Void">Static / Void</a>
        <a class="dropdown-item" href="/Home/CSharp/TryParse">TryParse</a>
        <a class="dropdown-item" href="/Home/CSharp/String-Methods">String Methods</a>
        <a class="dropdown-item" href="/Home/CSharp/Loop-String">Loop a String</a>
        <a class="dropdown-item" href="/Home/CSharp/Looping-Rules">Looping Rules +=</a>
        <a class="dropdown-item" href="/Home/CSharp/If-Statements">If Statements</a>
        <a class="dropdown-item" href="/Home/CSharp/Ternary-Operator">Ternary Operator</a>
        <a class="dropdown-item" href="/Home/CSharp/Method">Method</a>
        <a class="dropdown-item" href="/Home/CSharp/Return">Return</a>
        <a class="dropdown-item" href="/Home/CSharp/Return-String">Return String</a>
        <a class="dropdown-item" href="/Home/CSharp/Return-Bool">Return Bool</a>
        <a class="dropdown-item" href="/Home/CSharp/Constructors">Constructors</a>
        <a class="dropdown-item" href="/Home/CSharp/GetSet">Get Set</a>
        <a class="dropdown-item" href="/Home/CSharp/Loops">Loops</a>
        <a class="dropdown-item" href="/Home/CSharp/Arrays">Arrays</a>
        <a class="dropdown-item" href="/Home/CSharp/Loop-Array">Loop Array</a>
        <a class="dropdown-item" href="/Home/"></a>
        <a class="dropdown-item" href="/Home/"></a>

    </div>
    <div class="d-inline-block">
        <form asp-controller="Home" asp-action="Javascript">
            <input class="form-control mr-sm-2 topBotMarg " name="searchBar" type="text" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</div>

<h2 class="text-center font-weight-bold text-white bg-secondary">C#</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 bg-ligh d-none d-md-block ">

            <div class="sticky mt-4" style="max-width: 300px">

                <form asp-controller="Home" asp-action="CSharp">
                    <input class="form-control mr-sm-2 topBotMarg " name="searchBar" type="text" placeholder="Search..." aria-label="Search">
                </form>

                <div class="scrollTab">

                    <div class="list-group">
                        <a href="/Home/CSharp/Terminology" class="list-group-item list-group-item-action">Terminology</a>
                        <a href="/Home/CSharp/Static-Void" class="list-group-item list-group-item-action">Static / Void</a>
                        <a href="/Home/CSharp/TryParse" class="list-group-item list-group-item-action">TryParse</a>
                        <a href="/Home/CSharp/String-Methods" class="list-group-item list-group-item-action">String Methods</a>
                        <a href="/Home/CSharp/Loop-String" class="list-group-item list-group-item-action">Loop a String</a>
                        <a href="/Home/CSharp/Looping-Rules" class="list-group-item list-group-item-action">Looping Rules +=</a>
                        <a href="/Home/CSharp/If-Statements" class="list-group-item list-group-item-action">If Statements</a>
                        <a href="/Home/CSharp/Ternary-Operator" class="list-group-item list-group-item-action">Ternary Operator</a>
                        <a href="/Home/CSharp/Method" class="list-group-item list-group-item-action">Method</a>
                        <a href="/Home/CSharp/Return" class="list-group-item list-group-item-action">Return</a>
                        <a href="/Home/CSharp/Return-String" class="list-group-item list-group-item-action">Return String</a>
                        <a href="/Home/CSharp/Return-Bool" class="list-group-item list-group-item-action">Return Bool</a>
                        <a href="/Home/CSharp/Constructors" class="list-group-item list-group-item-action">Constructors</a>
                        <a href="/Home/CSharp/GetSet" class="list-group-item list-group-item-action">Get Set</a>
                        <a href="/Home/CSharp/Loops" class="list-group-item list-group-item-action">Loops</a>
                        <a href="/Home/CSharp/Arrays" class="list-group-item list-group-item-action">Arrays</a>
                        <a href="/Home/CSharp/Loop-Array" class="list-group-item list-group-item-action">Loop Array</a>
                        <a href="/Home/CSharp/" class="list-group-item list-group-item-action"></a>
                        <a href="/Home/CSharp/" class="list-group-item list-group-item-action"></a>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-9 ">
       
            <partial name="~/Views/Home/PartialCSharp/@ViewData["Id"]" />
           
        </div>
    </div>
</div>

