@{
    ViewData["Title"] = "Home Page";
}




    
<div class="jumbotron jumbotron-fluid" style="background-image:url(Images/white.svg); background-size:cover; height: 450px">

    
    <div class="container">

        <h1 class="display-4">Learn a programming language</h1>
        <p class="lead">Unlock the possibilities, view our easy to understand tutorials</p>
        <p><a class="btn btn-lg btn-primary" href="#section1" role="button">Tutorial </a></p>
    </div>
</div>






<div class="container-fluid p-5">
    <div class="row bigMarg">

        <div class="col-md-5">
        </div>

        <div class="col-md-2 text-center" >
            <img src="~/Images/5js.jpg" style="width: 100px"  alt="logo" />
        </div>

        <div class="col-md-5">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 text-center">
            <p>
                Used in Web pages, JavaScript is a "client-side" programming language. This means JavaScript scripts are read,
                interpreted and executed in the client, which is your Web browser. By comparison,
                "server-side" programming languages run on a remote computer, such as a server hosting a website.
            </p>
        </div>

        <div class="col-md-3">
        </div>
    </div>

</div>



    <div class="card-group" id="section1">
        <div class="card m-1 box-shadow">
            <img class="card-img-top" src="~/Images/JavascriptCardImage.jpg" alt="Card image cap">
            <div class="card-body">              
                <p class="card-text">Learn JavaScript from scratch and go on to advanced concepts like OOP.</p>              
                    <a class="btn btn-lg btn-outline-primary" href="/Home/Javascript/Basics" role="button">Tutorial &raquo;</a>            
            </div>
        </div>

        <div class="card m-1 box-shadow">
            <img class="card-img-top" src="~/Images/CSharpCardImage.jpg" alt="Card image cap">
            <div class="card-body">         
                <p class="card-text">Learn the basics of C# and get a better understanding of how programming works</p>
                <a class="btn btn-lg btn-outline-success " href="/Home/CSharp/Terminology">Tutorial &raquo;</a>
            </div>
        </div>

        <div class="card m-1 box-shadow">
            <img class="card-img-top" src="~/Images/MVCCardImage.jpg" alt="Card image cap">
            <div class="card-body">        
                <p class="card-text">ASP.NET MVC gives you a powerful, patterns-based way to build incredibly dynamic websites</p>
                <a class="btn btn-lg btn-outline-warning "href="/Home/MVC/Routing" >Tutorial &raquo;</a>
            </div>
        </div>
    </div>
    

   
        
    



